.flip-container {
    display: inline-block;
    perspective: 1000px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flipper {
  position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: 0;
}

/*When container hovered over apply these styles to flippr class*/
body:hover .flipper {

    animation: flip 2.5s ease-in forwards;
}


@keyframes flip {
    from {
        transfrom: rotateX(0deg);
        transform-origin: bottom center;
    }
    to {
        transform: rotateX(-180deg);
        transform-origin: bottom center;

    }
}





.front, .back, .top, .bottom {
  display: inline-block;
  position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    font-size: 20rem;
    background-color: black;
    color: white;
    overflow: hidden;
    border-radius: 5%;;
}


.top, .bottom {
    z-index: -1;
}

.top {
    top: 0px;
    left: 0px;
}

/*Have to specify exact position for the animation's stacking to work correcty*/
.bottom {
    top: 200px;
    left: 0px;
}

.back {
  display: inline-block;
  transform: rotateX(-180deg);
 }



.letter-bottom {
    position: relative;
    top: -100%;
}


body {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
}