body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.flip-container {
  perspective: 1000px;
  background-color: transparent;
  width: 150px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flipper {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  z-index: 0;
}

/*When container hovered over apply these styles to flippr class*/
.flipper-enter {
  transform: rotateX(-180deg);
  transform-origin: bottom center;
}



.front, .back, .top, .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  font-size: 10rem;
  background-color: black;
  color: white;
  overflow: hidden;
  border-radius: 5%;;
}


.top, .bottom {
  z-index: -1;
}

.top {
  top: 0px;
  left: 0px;
}

/*Have to specify exact position for the animation's stacking to work correcty*/
.bottom {
  top: 100px;
  left: 0px;
}

.back {
  transform: rotateX(-180deg);
}



.letter-bottom {
  position: relative;
  top: -100%;
}


body {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roboto;
}





.flipper {
  animation: flip 0.25s cubic-bezier(0.4,.02,.8,0.23) forwards;
}


@keyframes flip {
  from {
      transfrom: rotateX(0deg);
  transform-style: preserve-3d;
  transform-origin: bottom center;
  }
  to {
      transform: rotateX(-180deg);
  transform-style: preserve-3d;
  transform-origin: bottom center;

  }
}


.line {
  display: flex;
  flex-direction: row;
}



.magic {
  position: absolute;
  top: 400px;
  left: 100px;
}





